{{define "about"}}
<section id="about-page">
  <h3>This Site</h3>
  <section id="about-this-site">
	built with love, go, <a href="https://github.com/beeceej/beeceej.com">git</a>, make and aws.
  </section>
  <hr></hr>
  <h3>music</h3>
  <section id="about-music">
	<ul>
	  <li>Alan Jackson</li>
	  <li>Ben Howard</li>
	  <li>Billie Eilish</li>
	  <li>Bon Iver</li>
	  <li>Cautious Clay</li>
	  <li>Chance The Rapper</li>
	  <li>Counting Crows</li>
	  <li>Death Cab For Cutie</li>
	  <li>Foo Fighters</li>
	  <li>Guy Clark</li>
	  <li>Hozier</li>
	  <li>Iron and Wine</li>
	  <li>Jason Isbell</li>
	  <li>John Mayer</li>
	  <li>John Prine</li>
	  <li>Kacey Musgraves</li>
	  <li>Kendrick Lamar</li>
	  <li>Leon Bridges</li>
	  <li>Lil Jon</li>
	  <li>Lorde</li>
	  <li>Ludacris</li>
	  <li>Mandolin Orange</li>
	  <li>Milk Carton Kids</li>
	  <li>Mipso</li>
	  <li>Olivia Rodrigo</li>
	  <li>Post Malone</li>
	  <li>Shakey Graves</li>
	  <li>Steve Earle</li>
	  <li>Sturgill Simpson</li>
	  <li>Taylor Swift</li>
	  <li>The Avett Brothers</li>
	  <li>The Devil Makes Three</li>
	  <li>Three Doors Down</li>
	  <li>Toby Keith</li>
	  <li>Townes Van Zandt</li>
	  <li>Trampled By Turtles</li>
	  <li>Tyler Childers</li>
	  <li>Usher</li>
	  <li>Young The Giant</li>
	</ul>
	You get the idea...
  </section>
  <hr></hr>
  <h3>hiking</h3>
  <div>I like the mountains</div>
  <hr></hr>
  <h3>dogs</h3>
  <div>I have an Aussie named Kona</div>
  <hr></hr>
  <h3>romcoms</h3>
  <div>These are like comfort food, partial to Matthew Mcconaughey</div>
  <hr></hr>
  <h3>computers</h3>
  <div>What I do for a living, and when I have free time</div>
  <hr></hr>
  <h3>cooking</h3>
  <div>A budding hobby</div>
  <hr></hr>
</section>
{{end}}
