{{define "about"}}
<section id="about-page">
  <h3>This Site</h3>
  <section id="about-this-site">
	built with love, go, <a href="https://github.com/beeceej/beeceej.com">git</a>, make and aws.
  </section>
  <hr></hr>
  <h3>music</h3>
  <section id="about-music">
	<a href="/notes/16-music-background.html">background of musical interest</a>
  </section>
  <hr></hr>
  <h3>hiking</h3>
  <div>I like the mountains</div>
  <hr></hr>
  <h3>dogs</h3>
  <div>I have an Aussie named Kona</div>
  <hr></hr>
  <h3>romcoms</h3>
  <div>These are like comfort food, partial to Matthew Mcconaughey</div>
  <hr></hr>
  <h3>computers</h3>
  <div>What I do for a living, and when I have free time</div>
  <hr></hr>
  <h3>cooking</h3>
  <ul>
    <li><a href="/notes/14-khao-piak-sen.html">Khao Piak Sen</a></li>
  </ul>
  <hr></hr>
</section>
{{end}}
