{{define "about"}}
<section id="about-page">
    <em>"exploration<br> for the sake of exploration"</em>
    <br>
    <br>
    <div>
        I've written a bit of <a href="https://github.com/beeceej">code</a><br>
        Worked at a few <a href="https://linkedin.com/in/beeceej">companies</a><br>
        Cooked some <a href="/notes/14-khao-piak-sen.html">food</a><br>
        Drank some <a href="/notes/9-maple-leaf-coffee-nicaraguan-el-finca.html">coffee</a><br>
        Grown some <a href="/notes/5-peppers-intro.html">peppers</a><br>
        Listened to some <a href="/notes/16-music-background.html">music</a><br>
        <br>
        Mostly, im here for the journey
    </div>
</section>
{{end}}
