{{define "contact"}}
<div id="contact-page">
  <em>
	"you used to call me on my cell phone,<br>
	but now you can find me at"
  </em>
  <br>
  <br>
  <ul class="no-list-style">
	<li><span>PGP:</span><a href="/pgp.txt">pubkey</a></li>
	<li><span>Email:</span><a href="mailto:brian@beeceej.com">brian@beeceej.com</a></li>
	<li><span>Github:</span><a href="https://github.com/beeceej">@beeceej</a></li>
	<li><span>Twitter:</span><a href="https://twitter.com/_beeceej">@_beeceej</a></li>
  </ul>
</div>
{{end}}
