{{define "index"}}
<!doctype html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>beeceej.com</title>
	<meta name="author" content="beeceej">
	<meta name="beeceej" content="beceej.com">
	<meta name="description" content="{{.Description}}">
	<meta name="brian jones" content="beeceej">
	<meta name="keywords" content="{{JoinStr .Keywords ", "}}">
	<link rel="stylesheet" href="/index.css">
	<link rel="shortcut icon" href="/favicon.png">
	<link rel="apple-touch-icon" href="/favicon.png">
  </head>
  <body>
	{{- template "nav" . -}}
	{{if eq .PageID "about"}}
	{{- template "about" . -}}
	{{end}}
	{{if eq .PageID "contact"}}
	{{- template "contact" . -}}
	{{end}}
	{{if eq .PageID "notes-l"}}
	{{- template "notes-l" . -}}
	{{end}}
	{{if eq .PageID "notes-note"}}
	{{- template "notes-note" . -}}
	{{end}}
	{{if eq .PageID "error"}}
	{{- template "error" . -}}
	{{end}}
	{{- template "footer" . -}}
  </body>
</html>
{{end}}
{{- template "index" . -}}
