{{define "nav_css"}}
nav ul li {
	display: inline-block;
}

nav {
	position: sticky;
	top: 0;
	margin-bottom: 10px; /*Push content pages down a bit */
	border-bottom: solid grey;
	background-color: white;
}

/* Styles for the Nav Items */
#nav-list {
	text-transform: uppercase;
	color: grey;
}
{{end}}
