{{define "notes_l_css"}}
#notes-l-page {
	text-align: left;
	color: grey;
}

#notes-l-page ul em {
	font-size: 16px;
}

@media only screen and (max-width: 600px) {
	#notes-l-page ul em {
		font-size: 10px;
	}
}
{{end}}
