{{define "post_css"}}
#post {
	text-align: left;
	color: grey;
	padding-bottom: 50px;
}

#post h3 {
	color: #02071f;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

pre {
	font-size: 16px;
	background-color: #02071f;
	color: limegreen;
	overflow: scroll;
}

@media only screen and (max-width: 600px) {
  pre {
	font-size: 12px;
  }
}

em {
	color: grey;
	font-size: 20px;
}

@media only screen and (max-width: 600px) {
  pre {
	font-size: 16px;
  }
}
{{end}}
