{{define "post_css"}}
#post {
	text-align: left;
	color: grey;
	padding-bottom: 50px;
}

#post h3 {
	color: #02071f;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#post pre {
	font-size: 16px;
	background-color: var(--code-block-background-color);
	color: limegreen;
	overflow: scroll;
	padding: 5px;
}

#post pre.inline {
	display: inline;
	color: orange;
}

#post .small-em {
	color: grey;
	font-size: 16px;
}

#post .normal-em {
	color: grey;
}

#post .header-img {
	width: 100%;
}

#post .body-img {
	width: 70%;
}

@media only screen and (max-width: 600px) {
	#post pre {
		font-size: 10px;
	}
	#post em {
		font-size: 10px;
	}
}
{{end}}
